@model IEnumerable<MVC_CRUD_DiplomadoCodeFirst.Models.Models.Inscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" href="/Inscripcion/Create">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coursos.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiantes.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coursos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiantes.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestre)
        </td>
        <td>
            <a class="btn btn-primary" href="/Inscripcion/Edit?id=@item.InscripcionId">Edit</a> |
            <a class="btn btn-success" href="/Inscripcion/Details?id=@item.InscripcionId">Details</a> |
            <a class="btn btn-danger" href="/Inscripcion/Delete?id=@item.InscripcionId">Delete</a> |
        </td>
    </tr>
}

</table>
